.doneicon{
	cursor:pointer;
	color:rgba(63,81,181,0.6);
}
.doneicon:hover{
	color:rgb(63,81,181);
}
.rbutton{
	margin-right:10px !important;
}
.bgimage{
	z-index:-1;
	position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
#bgimage1{
    background: url(images/corridor-min.jpg);
}
#bgimage2{
    background: url(images/room-min.jpg);
}
body,#grid{
	background:transparent;
}
md-card{
	background-color: rgba(255,255,255,0.6) !important;
}
.md-button{
	display: flex;
}
.editinput{
	margin-top:0px;
	margin-bottom:0px;
}
.task{
	padding-top:5px;
	padding-bottom:5px;
}
#nav{
	background-color: rgba(40,40,40,0.3);
	color: rgb(41, 65, 197);
	font-size:24px;
}
#nav:hover{
	background-color: rgba(40,40,40,0.4);
}
.nav-link{
	font-weight: bold;
}