<div class="layout-column" ng-controller="EditCtrl">
<div flex="10" layout="row" layout-align="center center">
      <md-button ng-href="#" class="md-primary md-raised"><i class="material-icons">reply</i>Back</md-button>
  </div>
    
	<md-content class="md-padding" layout="row" flex layout-wrap id="grid">
    <div flex-xs="100" flex-sm="50" flex-offset-sm="25" flex-gt-sm="33" flex-offset-gt-sm="33" >
      
      <md-card id="singlecard" md-theme-watch >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Room No. {{room.num}}</span>
            <span class="md-head">Todo List</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"  flex="100">
          	<ul ng-show="room.todolist.length>0" style="padding:0px;">
				<li ng-repeat="n in room.todolist track by $index" layout="column" class="task">
        <div ng-show="!show[$index]" layout="row" layout-align="center center"><span flex="90">{{n}}</span><span flex="10" layout-align="center end" layout="row"><i class="material-icons doneicon" ng-click="show[$index] = true" title="edit">edit</i><i title="done" class="material-icons doneicon" ng-click="taskDone($index)">done</i></span></div>
          <div layout="row" layout-align="center center" ng-show="show[$index]">
           <md-input-container  class="editinput" flex="60">
           <label>Task</label>
            <input type="text" ng-model="tasks[$index]" required flex="90">
          </md-input-container>
          <md-input-container class="editinput" flex>
            <md-button class="md-primary md-raised" ng-click="editTask($index);"><i class="material-icons">edit</i>EDIT TASK</md-button>
          </md-input-container></div>
				</li>		
			</ul>
			<p ng-show="room.todolist.length==0">No task in todo list.</p>
          </div>
          </md-card-content>
		    <md-card-actions layout="row" layout-align="center center">
          <md-input-container flex="60">
            <label>Task</label>
            <input type="text" ng-model="task" flex="90">
          </md-input-container>
          <md-input-container flex>
            <md-button class="md-primary md-raised" ng-click="addTask()"><i class="material-icons">add</i>ADD TASK</md-button>
          </md-input-container>
        </md-card-actions>
        
      </md-card>
      <br />
    </div>
      
     
  </md-content>

</div>
<div id="bgimage2" class="bgimage">
</div>